@page "/AdminPanel/UserGroup/Upsert"
@page "/AdminPanel/UserGroup/Upsert/{Id:long}"
@using Hamkare.Common.Entities.Identity
@using Hamkare.Resource
@using Hamkare.Utility.Extensions
@using Hamkare.Component.HamkareComponents
@using Hamkare.Service.Services.Identity
@inject UserCategoryService UserCategoryService

<HamkareUpsertForm T="UserCategory" OnRender="OnRender" OnSubmit="Submit" ReturnUrl="/adminPanel/UserGroup" Model="_model"
                   Title="@(Id==0 ? $"{GlobalResources.Add} {EntitiesResources.UserGroup}" : $"{GlobalResources.Edit} {EntitiesResources.UserGroup}")">

    <Body>
    
    <MudItem xs="12" md="6" lg="3">

        <HamkareTextField OnRender="OnRender" @bind-Value="_model.Name" For="@(() => _model.Name)" Label="Name"
                          Immediate="true"
                          HelperText="@GlobalResources.URLHelper" Counter="2000" MaxLength="2000"/>

    </MudItem>
    
    <MudItem xs="12" md="6" lg="3">

        <HamkareTextField OnRender="OnRender" @bind-Value="_model.Description" For="@(() => _model.Description)" Label="Description"
                          Immediate="true"
                          HelperText="@GlobalResources.URLHelper" Counter="2000" MaxLength="2000"/>

    </MudItem>
    
    <MudItem xs="12" md="6" lg="3" Class="d-flex align-items-center">
        <HamkareSwitch OnRender="OnRender" @bind-Value="@_model.ShowInMenu" Label="@GlobalResources.ShowInMenu"/>
    </MudItem>

    <MudItem xs="12" md="6" lg="3">

        <HamkareSelectMain OnRender="OnRender" @bind-Value="@_model.ParentId" List="_userGroupList"
                           Label="@GlobalResources.Parent" Clearable/>

    </MudItem>

    <MudItem xs="12" md="6" lg="3">

        <HamkareNumericField OnRender="OnRender" @bind-Value="_model.Order" For="@(() => _model.Order)"
                             Label="@GlobalResources.Order"
                             HelperText="@GlobalResources.OrderHelper"/>

    </MudItem>
    </Body>

</HamkareUpsertForm>

@code{
    private UserCategory _model = new();
    private IReadOnlyList<UserCategory> _userGroupList = new List<UserCategory>();

    [Parameter]
    public long Id { get; set; }

    public bool OnRender { get; set; } = true;
    protected override async Task OnInitializedAsync()
    {
        if (Id == 0)
        {
            var parent = await UserCategoryService.GetAllActiveAsync(x => x.Id != _model.Id);
            _userGroupList = parent.ToList();
        }
        else
        {
            _model = await UserCategoryService.FindAsync(Id);
            var parent = await UserCategoryService.AvailableParent(_model.Id);
            _userGroupList = parent.Where(x => x.Active).ToList();
        }

        OnRender = false;
    }

    private async Task<bool> Submit()
    {
        try
        {
            if (_model.Validate(out var errors))
            {
                Snackbar.Error(errors);
                return false;
            }

            await UserCategoryService.AddOrUpdateAsync(_model);
            Snackbar.SuccessAddOrUpdate(EntitiesResources.UserGroup);

            return true;
        }
        catch (Exception e)
        {
            await JsRuntime.LogError(e);
            e.ShowErrorSnackbar(Snackbar, EntitiesResources.UserGroup);
        }

        return false;
    }
}